@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>@ViewBag.Title - My ASP.NET Application</title>
     <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
     @Styles.Render("~/bundles/bootstrap/css")
     @Styles.Render("~/bundles/fontawesome")
     @Styles.Render("~/bundles/template")
     @Styles.Render("~/bundles/owl")
     @Styles.Render("~/bundles/animate")

     @if (IsSectionDefined("Styles"))
     {
          @RenderSection("Styles", required: false)
     }
     @Styles.Render("~/bundles/main/css")
</head>
<body>
     @Html.Partial("_PreloaderStart")
     @Html.Partial("_Header")
     @RenderBody()
     @Html.Partial("_Footer")


     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
     @Scripts.Render("~/bundles/isotope")
     @Scripts.Render("~/bundles/owl-carousel")
     @Scripts.Render("~/bundles/counter")
     @Scripts.Render("~/bundles/custom")


     @RenderSection("scripts", required: false)
</body>
</html>
